.h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 70px; /* 125% */
}

.h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60px; /* 125% */
}

.h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px; /* 125% */
}

.h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; /* 125% */
}

.h5-bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px; /* 125% */
}

.h6-slim {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
}

.h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px; /* 125% */
}

.h6-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 29px; /* 125% */
}

.big-regular {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
}

.regular {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.regular-mid-slim {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
}

.regular-slim {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 19.36px */
  color: rgba(161, 161, 161, 1) ;
}

.small-regular {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.small-semi-regular {
  font-size: 12px;
  font-weight: 600;
  line-height: 19.2px;
}

.small-regular-slim {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.caption-bold {
  font-size: 12px; 
  font-weight: 700;
  line-height: 18px;
}

.caption {
  font-size: 12px; 
  font-weight: 500;
  line-height: 18px;
}

.micro-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 166.667% */
}

.micro-pre-text {
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.micro-pre-text-slim {
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
